{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div class="article-detail"> <!-- Link to go to list -->
        <h1>{{ article.article_name }}</h1>

        <img src="{{article.article_img.url}}" alt="{{article.article_img}}" class="img-responsive" />
        <form method="post" >
            {% csrf_token %}
            {%if user.is_authenticated %}
                        {%if user not in article.article_score.all%}
                            <input type="submit" name="upvote" value="{{ article.article_score.count }} Upvote">
                        {% else %}
                            <input type="submit" name="upvote" value="{{ article.article_score.count }} Remove Upvote">
                        {% endif %}
            {% endif %}

            {%if user.is_moderator or user == article.author_id %}
                <h3><a href="{% url 'article_pages:article_edit' article.id %}">edit</a> </h3>
                {%if article.is_active == True %}
                    <input type="submit" name="deactivate" value="Remove Article">
                {%elif article.is_active == False %}
                    <input type="submit" name="activate" value="Return Article">
                {% endif %}
            {% endif %}
        </form>
        <h2><a href="{% url 'game_pages:game_det' article.game_id.id %}">Source</a> </h2>
        <p>{{ article.article_text }}</p>
        <p>Release date: {{ article.article_date }}</p>
        <p>Rating: {{ article.rating }}</p>
        <p>NUMBER OF CLICKS:{{ article.numberOfClicks}}</p>
    </div>


  <h3>Comments: </h3>
  {% if comments %}
  {% for comment in comments %}
  <p><b>*{{comment.author.username}}* left this comment: </b></p>
    <p> {{comment.comments_text}}</p>

  {% endfor %}
  {% else %}
    <p>No comments on this article yet</p>
  {% endif %}
{%if user.is_authenticated%}
  <form class="" action="" method="post">
    {% csrf_token %}
    <textarea name="comments_text" rows="8" cols="80" placeholder="Leave your thoughts"></textarea>
    <!-- <input type="hidden" name="username" value="{{author.username}}"> -->
    <br><input type="submit" name="" value="Submit">
  </form>
  {%endif%}
{%if user.is_authenticated %}
                {%if user not in comment.likes.all%}
                    <input type="submit" name="follow" value="Follow">
                {% else %}
                    <input type="submit" name="unfollow" value="Unfollow">
                {% endif %}
            {% endif %}

  {% endblock content%}

