{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div>
            <div class = "articles">
                {% for article in articles %}
                    <div class = "article">
                        <h2><a href="{% url 'article_pages:article_det' article.id %}">{{article.article_name}}</a> </h2> <!-- Link to go to specific article, from part15 -->
                        <p>{{article.article_date }}</p>
                        <p>{{article.snippet}}</p>
                        <p>Rating: {{article.rating }}</p>
                    </div>
                {% endfor %}

            </div>
    </div>

    {% for article in articles %}
        <div class="col-md-6">
    <div class="recent-game-item">
         <img src="{{article.article_img.url}}" class="rgi-thumb set-bg" alt="{{article.article_img}}" class="img-responsive" />
		<!-- <div class="cata new"></div> -->
		</div>
			<div class="rgi-content">
				<h5><a href="{% url 'article_pages:article_det' article.id %}">{{article.article_name}}</a></h5>
					<p>{{article.snippet}}</p>
						<a href="#" class="comment">Get Comments Num Comments</a>
				 <div class="rgi-extra">
					<div class="rgi-star"><img src="img/icons/star.png" alt=""></div>
					<div class="rgi-heart"><img src="img/icons/heart.png" alt=""></div>
				</div>
			</div>
	</div>
        </div>
    {% endfor %}

    <div class="recent-game-item">
								<div class="rgi-thumb set-bg" data-setbg="img/recent-game/1.jpg">
									<div class="cata new">racing</div>
								</div>
								<div class="rgi-content">
									<h5>Suspendisse ut justo tem por, rutrum</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit amet, consectetur elit. </p>
									<a href="#" class="comment">3 Comments</a>
									<div class="rgi-extra">
										<div class="rgi-star"><img src="img/icons/star.png" alt=""></div>
										<div class="rgi-heart"><img src="img/icons/heart.png" alt=""></div>
									</div>
								</div>
							</div>

{% endblock %}