{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div>
            <div class = "articles">
                {% for article in articles %}
                    <div class = "article">
                        <h2><a href="{% url 'article_pages:article_det' article.id %}">{{article.article_name}}</a> </h2> <!-- Link to go to specific article, from part15 -->
                        <p>{{article.article_date }}</p>
                        <p>{{article.snippet}}</p>
                        <p>Rating: {{article.rating }}</p>
                    </div>
                {% endfor %}

            </div>
    </div>
{% endblock %}