{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div>
        <section class="page-section spad">
            <div class="info-page">
		        <div class="container">
					<div class="section-title">
						<h2>Articles</h2>
					</div>
			        <div class="row">
                        {% for article in articles %}
                        <div class="col-md-4">
					        <div class="game-item">
						        <div class="review-cover set-bg">
                                    <img src="{{article.article_img.url}}" class="content-img" />
							        <div class="cata new-yellow">{{ article.author_id.username }}</div>
						        </div>
						        <div class="review-text">
							        <h4><a href="{% url 'article_pages:article_det' article.id %}">{{article.article_name}}</a> </h4>
                                    <p>{{article.article_date }}</p>
                                    <p>{{article.snippet}}</p>
						        </div>
					        </div>
				        </div>
                        {% endfor %}
			        </div>
		        </div>
            </div>
	    </section>
    </div>
{% endblock %}