{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div>
            <div class = "blogs">
             <section class="page-section recent-blog-page spad">
                 <div class="row">
                {% for blog in blogs %}
                    <div class = "blog">
                     <div class="col-sm-3">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="{{ blog.game_id.game_img.url }}">
                                <div class="cata new-blue">{{ blog.game_id.game_name }}</div>       <!-- Game genres -->
                            </div>
                         <div class="rgi-content">
                            <div class = "blog">
                                <h2><a href="{% url 'article_pages:blog_det' blog.id %}">{{blog.blog_name}}</a> </h2>
                                <p>{{blog.snippet}}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                </div>
             </section>
            </div>
    </div>
{% endblock %}