{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div>
            <div class = "threads">
                {%if user.is_moderator %}
        <h2><a href="{% url 'game_pages:create_game'%}">Create </a> </h2><br>
    {% endif %}
             <section class="page-section recent-thread-page spad">
                 <div class="row">
                {% for thread in threads %}
                    <div class = "thread">
                     <div class="col-sm-3">
                        <div class="recent-thread-item">
                            <div class="rgi-thumb set-bg" data-setbg="{{ thread.game_id.game_img.url }}">
                                <div class="cata new-green">{{ thread.author_id.username }}</div>       <!-- Game genres -->
                            </div>
                         <div class="rgi-content">
                            <div class = "thread">
                                <h2><a href="{% url 'article_pages:article_det' article.id %}">{{thread.thread_name}}</a> </h2>
                                <p>{{thread.thread_date }}</p>
                                <p>{{thread.snippet}}</p>
                                <p>Rating: {{thread.rating }}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
                </div>
             </section>
            </div>
    </div>
{% endblock %}