{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div class="container">

    <section class="page-section community-page set-bg" data-setbg="img/community-bg.jpg">
        <div class="community-warp spad">\
            <div class="container">
                <ul class="community-post-list">
                    <li>
                        <div class="community-post">
							<div class="author-avator set-bg" data-setbg="{{ thread.thread_author.userImg.url }}"></div>
							<div class="post-content">
                                <a href="{% url 'article_pages:thread_det' thread.id %}" style="color: white;">
								<h5>{{ thread.thread_author.username }}<span>posted an update</span></h5>
								<div class="post-date">{{ thread.thread_date }}</div>
                                <p style="font-weight: bold;">{{ thread.thread_name }}</p>
								<p>{{ thread.thread_text }}</p></a>
							</div>
                            <form method="post" >{% csrf_token %}
                                {%if user.is_moderator or user == thread.author_id %}
                                    <h3><a href="{% url 'article_pages:thread_edit' thread.id %}">edit</a></h3>
                                    {%if thread.is_active == True %}
                                        <input type="submit" name="deactivate" value="Remove Thread">
                                    {%elif thread.is_active == False %}
                                        <input type="submit" name="activate" value="Return Thread">
                                    {% endif %}
                                {% endif %}
                            </form>
						</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div class="det-footer">
        {%if user.is_authenticated%}
        <form class="" action="" method="post">
        {% csrf_token %}
        <textarea name="comments_text" rows="8" cols="80" placeholder="Leave your thoughts"></textarea>         <!-- some stuff-->
        <br><input type="submit" name="post_comment" value="Submit">
        </form>
    {%endif%}

  <h3>Comments: </h3>
  <button onclick="all_comments(1)">Hide</button>
  <button onclick="all_comments(2)">Show</button>
  {% if comments %}
      <form id="all_comments" class="" action="" method="post">

      {% csrf_token %}
            {% for comment in comments %}
                <p>
                    <b>*{{comment.author.username}}* left this comment: </b>
                {%if user == comment.author %}
                    <a href="{% url 'article_pages:comment_edit' comment.id %}">Edit</a>
                {% endif %}</p>
                <p> {{comment.comments_text}}</p>
                {% if comment.receiver %}
                    Replied To: {{ comment.receiver.username }} <br><br>
                {% endif %}

                {%if user.is_authenticated %}
                    {%if user not in comment.upvoters.all %}
                        Upvote <input type="submit" name="upvote_comment" value="{{ comment.id }}" style="color: gray; background: gray; width: 45px"> {{ comment.upvoters.count }}
                    {% else %}
                        Remove Upvote<input type="submit" name="remove_upvote_comment" value="{{ comment.id }}" style="color: gray; background: gray; width: 45px"> {{ comment.upvoters.count }}
                    {% endif %}
                {% endif %}
            {% endfor %}
      </form>
  {% else %}
    <p>No comments on this article yet</p>
  {% endif %}

    <script type="text/javascript">
        function all_comments(a){
            if(a==1)
                document.getElementById("all_comments").style.display="none";
            else
                document.getElementById("all_comments").style.display="block";
        }
    </script>
    </div>


    </div>

  {% endblock content%}
