{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}

    <section class="page-section community-page set-bg" data-setbg="img/community-bg.jpg">
        <div class="community-warp spad">\
            <div class="container">
                <ul class="community-post-list">
                    {% for thread in threads %}
                        <li>
                        <div class="community-post">
							<div class="author-avator set-bg" data-setbg="{{ thread.thread_author.userImg.url }}"></div>
							<div class="post-content">
                                <a href="{% url 'article_pages:thread_det' thread.id %}" style="color: white;">
								<h5>{{ thread.thread_author.username }}<span>posted an update</span></h5>
								<div class="post-date">{{ thread.thread_date }}</div>
                                <p style="font-weight: bold;">{{ thread.thread_name }}</p>
								<p>{{ thread.snippet }}</p></a>
							</div>
						</div>
                        </li>
                    {% endfor%}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}