{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
	<section class="page-section spad contact-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="comment-title">Contact us</h4>
					<div class="social-links">
						<div class="col-md-9">
							<ul class="contact-info-list">
								<li><a href="https://vk.com/just_fara"><i class="fa fa-vk"></i> Nursultan Alfaraby</a></li>
								<li><a href="https://vk.com/id209071282"><i class="fa fa-vk"></i> Duissenova Madina</a></li>
								<li><a href="https://vk.com/akossaidarova"><i class="fa fa-vk"></i> Kossaidarova Alua</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}