{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <h1><a href="{% url 'cyber_news:index' %}">Home</a> </h1>
    <div class="game-details"> <!-- Link to go to list -->
        <h1>{{ game.game_name }}</h1>
        <p>Publisher: {{ game.game_publisher }}</p>
        <p>Developer: {{ game.game_developer }}</p>
        <p>Rating: {{ game.game_rating }}</p>
        <p>Release date: {{ game.game_rd }}</p>
        <p>Description: <br>{{ game.game_text }}</p>
    </div>
{% endblock %}