{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <h1><a href="{% url 'cyber_news:index' %}">Home</a> </h1>
    <h1><a href="{% url 'cyber_news:games' %}">games</a> </h1>
    <div class="games-list"> <!-- Link to go to list -->
         <div class = "create-game">
             <form class="" action="" method="post">
             {% csrf_token %}
                <textarea name="game_name" rows="1" cols="30" placeholder="Game Name"></textarea><br>
                 <textarea name="game_dev" rows="1" cols="30" placeholder="Game Developer"></textarea><br>
                 <textarea name="game_pub" rows="1" cols="30" placeholder="Game Publisher"></textarea><br>
                 <textarea name="game_desc" rows="8" cols="80" placeholder="Game Description"></textarea><br>
                 <input type="date" name="game_date" rows="8" cols="80" placeholder="Game ReleaseDate"></textarea><br>
                 <input type="number" name="game_rate" min="0" max="100" placeholder="Game Rating"></input><br>
                <br><input type="submit" name="" value="Submit"><br>
            </form>
         </div>
    </div>
{% endblock %}