{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <h1><a href="{% url 'cyber_news:index' %}">Home</a> </h1>
    <div class="games-list"> <!-- Link to go to list -->
        {% for game in games %}
         <div class = "game">
                <h2><a href="{% url 'cyber_news:game_det' game.id %}">{{game.game_name}}</a> </h2> <!-- Link to go to specific article, from part15 -->
                <p>Rating: {{game.game_rating }}</p>
                <p>Publisher: {{ game.game_publisher }}</p>
         </div>
        {% endfor %}
    </div>
{% endblock %}