{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}

    <section class="review-section spad set-bg" data-setbg="img/review-bg.png">
		<div class="container">
			<div class="section-title">
				<div class="cata new">new</div>
				<h2>Recent games</h2>
			</div>
			<div class="row">
                {% for game in recent_games %}
                <div class="d-flex justify-content-start">
					<div class="recent_games">
						<div class="review-cover set-bg" data-setbg="{{ game.game_img.url }}">
						</div>
						<div class="review-text">
							<h5>{{ game.game_name }}</h5>
							<p>Developer: {{ game.game_developer }}</p>
                            <p>Publisher: {{ game.game_publisher }}</p>
						</div>
					</div>
				</div>
                {% endfor %}
			</div>
		</div>
	</section>

{% endblock %}