    {% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div class="container">
        <legend class="border-bottom mb-4"><h2>Games:</h2></legend>
        {% if search_games %}
        <br>
            <ul>
            {% for game in search_games %}
                <li>
                    <h2><a href="{% url 'game_pages:game_det' game.id %}">
                        {{game.game_name}}
                    </a></h2>
                    <h5>{{game.game_text|truncatewords:10}}</h5><br>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {{empty_res}}
        {% endif %}
        <legend class="border-bottom mb-4"><h2>Articles:</h2></legend>
        {% if search_arts %}
        <br>
            <ul>
            {% for article in search_arts %}
                <li>
                    <h2><a href="{% url 'article_pages:article_det' article.id %}">
                        {{article.article_name}}
                    </a></h2>
                    <h5>{{article.article_text|truncatewords:10}}</h5><br>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {{empty_res}}
        {% endif %}
    <legend class="border-bottom mb-4"><h2>Blogs:</h2></legend>
        {% if search_blogs %}
        <br>
            <ul>
            {% for blog in search_blogs %}
                <li>
                    <h2><a href="{% url 'article_pages:blog_det' blog.id %}">
                        {{blog.blog_name}}
                    </a></h2>
                    <h5>{{blog.blog_text|truncatewords:10}}</h5><br>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {{empty_res}}
        {% endif %}
    <legend class="border-bottom mb-4"><h2>Threads:</h2></legend>
        {% if search_threads %}
        <br>
            <ul>
            {% for thread in search_threads %}
                <li>
                    <h2><a href="{% url 'article_pages:thread_det' thread.id %}">
                        {{thread.thread_name}}
                    </a></h2>
                    <h5>{{thread.thread_text|truncatewords:10}}</h5><br>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {{empty_res}}
        {% endif %}
    </div>
{% endblock %}