{% extends "Cyber_News_App/base_layout.html" %}
{% block content %}
    <div class="container">
        <div class="card-title mb-4" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="d-flex justify-content-start">
                <div class="image-container">
                    <img src="{{user.userImg.url}}" class="img-thumbnail" />
                </div>
                <div class="userData ml-3">
                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold; font-family: sans-serif;">{{ user.username }}</h2>
                    <h6 class="d-block"><a href="{% url 'edit_profile' %}">Edit profile</a></h6>
                </div>
                <div class="cont_creation">
                    <legend class="border-bottom">
                        Create
                    </legend>
                    <h3><a  class="create-blog-page" href="{% url 'article_pages:create_blog' %}">Blog</a> </h3>
                    <h3><a  class="create-thread-page" href="{% url 'article_pages:create_thread' %}">Thread</a> </h3>
                    {% if user.is_moderator %}
                    <h3><a  class="create-article-page" href="{% url 'article_pages:create_article'%}">Article</a> </h3>
                    <h3><a  class="create-game-page" href="{% url 'game_pages:create_game'%}">Game</a> </h3>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if user.is_moderator %}
        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">
                Active users
            </legend>
            {% for user in active_users %}
                {% if user.is_moderator == False %}
                    <div class = "user">
                        <h5><a href="{% url 'other_user_profile' user.id %}" >{{user.username}} </a></h5>
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>

        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">
                Deactive users
            </legend>
            {% for user in deactive_users %}
            <div class = "user">
                <h5><a href="{% url 'other_user_profile' user.id %}" >{{user.username}} </a></h5>
            </div>
            {% endfor %}
        </fieldset>

        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">
                Games
            </legend>
            {% for game in games %}
            <div class = "game">
                <h5><a href="{% url 'game_pages:game_det' game.id %}">{{game.game_name}}</a></h5>
            </div>
            {% endfor %}
        </fieldset>
        {% endif %}

        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">
                Followed games
            </legend>
            <div class="d-flex justify-content-start">
                {% for game in games %}
                <div class = "followed_game">
                    {% if user in game.followers.all %}
                    <div class="image-container">
                        <img src="{{game.game_img.url}}" class="img-thumbnail" />
                    </div>
                    <h5><a href="{% url 'game_pages:game_det' game.id %}">{{game.game_name}}</a></h5>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </fieldset>

        {% if user.is_moderator %}
        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">
                Your articles
            </legend>
            <div class="d-flex justify-content-start">
                {% for article in articles %}
                <div class = "followed_game">
                    {% if user == article.author_id %}
                    <div class="image-container">
                        <img src="{{article.article_img.url}}" class="img-thumbnail" />
                    </div>
                    <h5><a href="{% url 'article_pages:article_det' article.id %}">{{article.article_name}}</a></h5>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </fieldset>
        {% endif %}

        <fieldset class="form-group">
            <legend class = "border-bottom mb-4">
                Your blogs
            </legend>
            <div class="d-flex justify-content-start">
                {% for blog in blogs %}
                <div class = "followed_game">
                    {% if user == blog.author_id %}
                    <div class="image-container">
                        <img src="{{blog.game_id.game_img.url}}" class="img-thumbnail" />
                    </div>
                    <h5><a href="{% url 'article_pages:blog_det' blog.id %}">{{blog.blog_name}}</a></h5>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </fieldset>


        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Your questions in thread
            </legend>
            <div class="community-warp spad" style="padding-top: 10px;">
                <ul class="community-post-list">
                    {% for thread in threads %}
                        {% if user == thread.thread_author %}
                            <li>
                                <div class="community-post">
                                    <div class="author-avator set-bg" data-setbg="{{ thread.thread_author.userImg.url }}"></div>
                                    <div class="post-content">
                                        <a href="{% url 'article_pages:thread_det' thread.id %}" style="color: white;">
                                        <h5>{{ thread.thread_author.username }}<span>posted an update</span></h5>
                                        <div class="post-date">{{ thread.thread_date }}</div>
                                        <p style="font-weight: bold;">{{ thread.thread_name }}</p>
                                        <p>{{ thread.snippet }}</p></a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor%}
                </ul>
            </div>
        </fieldset>

    </div>
{% endblock content %}