{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.8.2/forge.all.min.js"></script>

   <script type="text/Javascript">
       function generateHash()
 {
           var pass = document.getElementById('id_pass').value;
           var md = forge.md.sha256.create();
           md.start();
           md.update(pass, "utf8");
           var hashPass = md.digest().toHex();
           document.getElementById("id_pass").value = hashPass;
       }
   </script>
<br>
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}