{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div class="games-page">

    <div class="games-list"> <!-- Link to go to list -->
    <section class="page-section recent-game-page spad">
    <div class="row">
        {% for game in games %}
            <div class="col-sm-3">
                <div class="recent-game-item">
                    <div class="rgi-thumb set-bg" data-setbg="{{ game.game_img.url }}">
                        <div class="cata new-blue">{{ game.game_genre }}</div>       <!-- Game genres -->
                    </div>
                    <div class="rgi-content">
                        <div class = "game">
                                <h2><a href="{% url 'game_pages:game_det' game.id %}">{{game.game_name}}</a> </h2>
                                <p>Rating: {{game.game_rating }}</p>
                                <p>Publisher: {{ game.game_publisher }}</p>
                        </div>
                    </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    </section>

    </div>
    <div class="game-checkboxes">
    <!-- method="post"  -->
        <form method="post" name="genres_box">
            {% csrf_token %}
        <fieldset>

            <input type="submit" name="filter" value="Filter" /><br>
            {% for genre in box_genres %}
                <input type="checkbox" name="box_genres" value="{{genre}}"><label> {{genre}}</label><br>
            {% endfor %}
<!--
        <input type="checkbox" name="Action">Action<br>
        <input type="checkbox" name="Action RPG">Action RPG<br>
        <input type="checkbox" name="Adventure">Adventure<br>
        <input type="checkbox" name="Battle Royale">Battle Royale<br>
        <input type="checkbox" name="Beat 'em up">Beat 'em up<br>
        <input type="checkbox" name="Fighting">Fighting<br>
        <input type="checkbox" name="FPS">FPS<br>
        <input type="checkbox" name="Interactive movie">Interactive movie<br>
        <input type="checkbox" name="JRPG">JRPG<br>
        <input type="checkbox" name="Metroidvania">Metroidvania<br>
        <input type="checkbox" name="MMO">MMO<br>
        <input type="checkbox" name="MMORPG">MMORPG<br>
        <input type="checkbox" name="MOBA">MOBA<br>
        <input type="checkbox" name="Platformer">Platformer<br>
        <input type="checkbox" name="Quest">Quest<br>
        <input type="checkbox" name="Racing">Racing<br>
        <input type="checkbox" name="Rhythm games">Rhythm games<br>
        <input type="checkbox" name="Roguelikes">Roguelikes<br>
        <input type="checkbox" name="RPG">RPG<br>
        <input type="checkbox" name="RTS">RTS<br>
        <input type="checkbox" name="Sandbox">Sandbox<br>
        <input type="checkbox" name="Shooter">Shooter<br>
        <input type="checkbox" name="Simulator">Simulator<br>
        <input type="checkbox" name="Soulslike">Soulslike<br>
        <input type="checkbox" name="Sports">Sports<br>
        <input type="checkbox" name="Stealth">Stealth<br>
        <input type="checkbox" name="Strategy">Strategy<br>
        <input type="checkbox" name="Survival">Survival<br>
        <input type="checkbox" name="Survival horror">Survival horror<br>
        <input type="checkbox" name="TBS">TBS<br>
        <input type="checkbox" name="Tower defense">Tower defense<br>
        <input type="checkbox" name="Visual novels">Visual novels<br>

-->

        </fieldset>
        </form>
    </div>

    </div>
{% endblock %}

