{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div>
        <section class="page-section spad">
            <div class="info-page">
                <div class="game-checkboxes">
                <!-- method="post"  -->
                <form method="post" name="genres_box">{% csrf_token %}
                    <fieldset>
                        <button class = "btn" type="submit" name="filter">Filter</button>
                        <br>
                        {% for genre in box_genres %}
                        <input type="checkbox" name="box_genres" value="{{genre}}"><label> {{genre}}</label><br>
                        {% endfor %}
                        <button class="btn"><a href="{% url 'game_pages:games_page' %}">Discard</a></button>
                    </fieldset>
                </form>
                </div>
		        <div class="container">
                    <div class="section-title">
						<h2>Games</h2>
					</div>
			        <div class="row">
                        {% for game in games %}
                        <div class="col-md-4">
					        <div class="game-item">
						        <div class="review-cover set-bg">
                                    <img src="{{ game.game_img.url }}" class="content-img" />
							        <div class="score yellow">{{ game.game_score }}</div>
						        </div>
						        <div class="review-text">
							        <h4><a href="{% url 'game_pages:game_det' game.id %}">{{game.game_name}}</a> </h4>
                                    <p>Genre: {{ game.game_genre }}</p>
                                    <p>Developer: {{ game.game_developer }}</p>
						        </div>
					        </div>
				        </div>
                        {% endfor %}
			        </div>
		        </div>
            </div>
	    </section>
    </div>



<!--
        <input type="checkbox" name="Action">Action<br>
        <input type="checkbox" name="Action RPG">Action RPG<br>
        <input type="checkbox" name="Adventure">Adventure<br>
        <input type="checkbox" name="Battle Royale">Battle Royale<br>
        <input type="checkbox" name="Beat 'em up">Beat 'em up<br>
        <input type="checkbox" name="Fighting">Fighting<br>
        <input type="checkbox" name="FPS">FPS<br>
        <input type="checkbox" name="Interactive movie">Interactive movie<br>
        <input type="checkbox" name="JRPG">JRPG<br>
        <input type="checkbox" name="Metroidvania">Metroidvania<br>
        <input type="checkbox" name="MMO">MMO<br>
        <input type="checkbox" name="MMORPG">MMORPG<br>
        <input type="checkbox" name="MOBA">MOBA<br>
        <input type="checkbox" name="Platformer">Platformer<br>
        <input type="checkbox" name="Quest">Quest<br>
        <input type="checkbox" name="Racing">Racing<br>
        <input type="checkbox" name="Rhythm games">Rhythm games<br>
        <input type="checkbox" name="Roguelikes">Roguelikes<br>
        <input type="checkbox" name="RPG">RPG<br>
        <input type="checkbox" name="RTS">RTS<br>
        <input type="checkbox" name="Sandbox">Sandbox<br>
        <input type="checkbox" name="Shooter">Shooter<br>
        <input type="checkbox" name="Simulator">Simulator<br>
        <input type="checkbox" name="Soulslike">Soulslike<br>
        <input type="checkbox" name="Sports">Sports<br>
        <input type="checkbox" name="Stealth">Stealth<br>
        <input type="checkbox" name="Strategy">Strategy<br>
        <input type="checkbox" name="Survival">Survival<br>
        <input type="checkbox" name="Survival horror">Survival horror<br>
        <input type="checkbox" name="TBS">TBS<br>
        <input type="checkbox" name="Tower defense">Tower defense<br>
        <input type="checkbox" name="Visual novels">Visual novels<br>

-->

{% endblock %}

