{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <h1><a href="{% url 'game_pages:game_edit' game.id %}">edit</a> </h1>
    <div class="game-details"> <!-- Link to go to list -->
        <h1>{{ game.game_name }}</h1>
        <p><img src="{{ game.game_img.url }}" alt="" width=400" height="400"></p>
        <p>Publisher: {{ game.game_publisher }}</p>
        <p>Developer: {{ game.game_developer }}</p>
        <p>Platforms: {{ game.game_platforms }}</p>
        <p>Rating: {{ game.game_rating }}</p>
        <p>Release date: {{ game.game_rd }}</p>
        <p>Description: <br>{{ game.game_text }}</p>
    </div>
    <form method="post">
        <p>Do you want to delete this game?</p>
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
{% endblock %}