{% extends "Cyber_News_App/base_layout.html" %}

{% block content %}
    <div class="games-list"> <!-- Link to go to list -->
    {%if user.is_moderator %}
        <h2><a href="{% url 'game_pages:create_game'%}">Create Game</a> </h2><br>
    {% endif %}
        {% for game in games %}
         <div class = "game">
                <h2><a href="{% url 'game_pages:game_det' game.id %}">{{game.game_name}}</a> </h2>
                <p>Rating: {{game.game_rating }}</p>
                <p>Publisher: {{ game.game_publisher }}</p>
         </div>
        {% endfor %}
    </div>
{% endblock %}